body
{
     margin: 0;
}

.Header
{
     justify-content: center;
     background-color: red;
     width: auto;
     height: 100px;
     margin: 0;

}

.Div-Titulo
{
     text-align: center;
}

.Titulo_Pagina
{
     margin : 0px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     padding-top: 10px;

}

.Titulo-Formulario
{
     text-align: center;
}

h1
{
     color: rgb(15, 136, 80);
}

h2,p
{
     color: rgb(14, 165, 202);
     font-weight: bold;
}
.Seccion-Principal
{
     display: flex;
     justify-content: center;
     height: 630px;
     background-image: url(https://i.postimg.cc/Vvrm8ZBZ/netzwerk-t.jpg);
}


.Div-Formulario
{
     padding-top: 50px;
     padding-right: 7.5%;
     padding-left: 15%;
}

#Fecha{
     margin-bottom: 15px;
}

.Formulario{
     margin:10px
}

input 
{
     border-radius: 5px;
     margin-bottom: 10px;
     width: 200px;
}

.Div-Imagen
{
     padding-right: 2%;
     padding-top: 2.5%;
}

#Imagen
{
     width: 750px;
     height: 550px;
}

#inventado
{

}